*{
  background-image: url(/public/starwars-bg.png);
  object-fit: cover;
  color:beige;
}
.index_body {
  height: 100vh;
}
.planets-container{
  border: 1px solid grey;
  border-radius:1rem;
}
.App-logo{
  object-fit: contain;
  margin-left:3rem;
}

.App-link {
  color: #61dafb;
}

.inputWidth{
  width:100%;
}

li{
  list-style: none;
  margin-left:0px;
  text-align: left;
}
.content{
  border: 2px solid violet;
    padding: 1rem;
    border-radius: 0.2rem;
    margin:0.3rem;
    color: whitesmoke;
}
.glow-card:hover{
  box-shadow: 0 5px 5px rgba(145, 92, 182, .4);
  padding: 0;
  margin:0;
  transition: all 0.6s ease-in-out;

}
.form-group{
  width:100%;
}
.input-group{
  color:black;
}
.custom-select{
  background-color: black;
}
.inputBorder{
  border-radius: 1rem;
  border: 1px solid blue;
  padding: 10px 15px;
  box-shadow: 1px 3px 9px;
}

.link-style{
  text-decoration: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
